# generic files to ignore
*.log
*.tmp
*~
*.lock
*.DS_Store
*.swp
*.out
[Tt]humbs.db

#Eclipse files
.project
.classpath
.settings

#Java and Maven
*.class
*.jar
target
lib
thirdparty
test-output

#JSystem files
jsystem.properties
!jsystem-assembly/jsystem-runner/src/main/etc/jsystem.properties
jsystem.properties.bu
runnerState.properties
log
myFile.txt
*.xml.versionsBackup
.testPropertiesFile_Empty
jsystem0.log.*
scripts

#Project specific files
src/test/resources/jsystem-base-tests/target
src/test/resources/jsystem-base-tests/lib